body {
  background: $primary-color;
  @include type-1;
  color: $black;
  border: 10px solid $secondary-color;
  @include device(small) {
    border: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  @include type-2;
}

.title {
  text-transform: uppercase;
  @include device(small) {
    margin-bottom: 40px;
  }
  &::after {
    content: "";
    display: block;
    width: 70%;
    float: right;
    height: 2px;
    background: $black;
    margin-top: 13px;
    @include device(medium) {
      width: 60%;
    }
    @include device(small) {
      width: 60%;
    }
  }
}
