$cols: 12;
$gutter: 20px;
$large-device: 1200px;
$medium-device: 760px;
$small-device: 480px;

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  @include container;
}

.row {
  @include row;
}

@function grid($col, $offset: false) {
  $width: $col / $cols * 100 + "%";
  $result: calc(#{$width} - #{$gutter});
  @if $offset == offset {
    $gutter: $gutter / 2;
    $result: calc(#{$width} + #{$gutter});
  }

  @return $result;
}

@for $i from 1 through $cols {
  .grid-#{$i} {
    width: grid($i);
  }
}

[class^="grid"] {
  @include grid-structure;
}

@for $i from 1 through $cols {
  .offsett-#{$i} {
    margin-left: grid($i, offset);
  }
}

@include device(small) {
  .offsett-1 {
    margin-left: 0px;
  }
}
