.menu {
  margin-top: 60px;
  margin-bottom: 60px;
  @include device(small) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.menu-item {
  margin-top: 60px;
  margin-bottom: 60px;
  h2 {
    margin-bottom: 1em;
  }
  li {
    line-height: em(35, 18);
    span {
      font-family: $font-2;
      display: inline-block;
      width: 70px;
      text-align: right;
      margin-right: 10px;
      margin-left: -80px;
      color: $tertiary-color;
      @include device(small) {
        margin-left: 0;
        width: auto;
      }
    }
  }
  img {
    border-radius: 50%;
    border: 10px solid $secondary-color;
    position: absolute;
    right: 0;
    margin-top: 60px;
    @include device(large) {
      right: 120px;
    }
    @include device(small) {
      display: none;
    }
  }
}
