@mixin device($size) {
  @if $size == large {
    @media screen and (min-width: $large-device) {
      @content;
    }
  } @else if $size == medium {
    @media screen and (min-width: $medium-device) and (max-width: $large-device - 1) {
      @content;
    }
  } @else if $size == small {
    @media screen and(min-width: $small-device) and (max-width: $medium-device - 1) {
      @content;
    }
  }
}

@mixin grid-structure {
  float: left;
  min-height: 1;
  margin-left: $gutter / 2;
  margin-right: $gutter / 2;
  @include device(small) {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@mixin clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin container {
  max-width: $large-device;
  margin: 0 auto;
  position: relative;
  @include device(medium) {
    max-width: $medium-device;
  }
  @include device(small) {
    max-width: $small-device;
    padding-left: 10px;
    padding-right: 10px;
  }
  @include clearfix;
}

@mixin row {
  position: relative;
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;
  @include device(small) {
    margin-left: 0px;
    margin-right: 0px;
  }
  @include clearfix;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
} ;
