@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&family=PT+Mono&display=swap");
$font-1: "PT Mono", monospace;
$font-2: "Aref Ruqaa", serif;

@function em($pixel, $context: 16) {
  @return $pixel / $context + em;
}

@mixin type-1 {
  font-family: $font-1;
  // eu passo o tamanho em pixel, então a func divide pelo context
  font-size: em(18);
  // aqui o context já mudou, pois eu defini o font-size como 18
  line-height: em(30);
}

@mixin type-2 {
  font-family: $font-2;
  font-size: em(24);
  line-height: em(40, 24);
  font-weight: bold;
}
